@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Concert+One&diplay=swap');

body {
	background: url(./img5.jpg) no-repeat fixed;
	background-color: lightgreen;
	font-family:'Montserrat',sans-serif; 
	margin:0;
	background-size:cover;
	padding:0;
}
*{
	box-sizing:border-box;
	font-family:sans-serif;
}
h1{
	text-align:center;
	color:#000000;
	margin:25px 0px 0px;
}
.quiz_wrapper {
	background-image: url('./img6.jpg');
	background-size:cover;
	height: 430px;
	width: 655px;
	background-color:lightblue;
	margin:30px auto;
	border-radius: 8px;
	padding:30px;
	
}
.quiz_wrapper .question {
	padding:15px;
	background-color: #ff9d55;	
	border-radius: 8px;
	color:#000000;
	font-size:20px;
	float:left;
	width: 100%;
	font-family: 'Concert One', cursive;
	text-align:center;
	
}
.quiz_wrapper .options{
	float:left;
	width: 100%;
	animation:zoomIn .5s linear ;
}
@keyframes zoomIn{
	0%{
		transform:scale(0.8);
		opacity:0;
	}
	
	100%{
		transform:scale(1);
		opacity:1;
	}
}
.quiz_wrapper .options ul{
	list-style:none;
	padding:0px;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
.quiz_wrapper .options ul li{
	display:inline-block;
	background-color:#f0c6c6;
	width: 47%;
	padding:15px;
	border-radius: 8px;
	margin-top:25px;
	font-size:15px;
	color:#000000;
	box-shadow:0px 3px 0px #a28787;
	cursor:pointer;
	outline:none;
	text-align:center;
}
.quiz_wrapper .options ul li:active{
	box-shadow:0px 3px 0px transparent;
}
.quiz_wrapper .options ul li.correct{
	background-color:#4f0;
	box-shadow:0px 3px 0px #14c630;
	animation:pulse 1s linear;
}
@keyframes pulse{
	0%{
		transform:scale(1);
	}
	50%{
		transform:scale(1.1);
	}
	100%{
		transform:scale(1);
	}
}
.quiz_wrapper .options ul li.correct::before{
	content:'';
	position:absolute;
	background-color:lightgreen;
	background-image:url(./img13.jpg);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	height:30px;
	width:30px;
	right:15px;
	top:10px;
	animation:fadeInRight .5s ease;
}
.quiz_wrapper .options ul li.wrong{
	background-color:#f00;
	box-shadow:0px 3px 0px #ce2020;
	animation:shake 0.3s linear;
}
.quiz_wrapper .options ul li.wrong::before{
	content:'';
	position:absolute;
	background-color:red;
	background-image:url(./img14.jpg);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	height:30px;
	width:30px;
	right:15px;
	top:10px;
	animation:fadeInRight .5s ease;
}
@keyframes shake{
	0%,30%,50%{
		transform:translatex(-10px);
	}
	20%,40%{
		transform:translatex(-10px);
	}
	60%{
		transform:translatex(-7px);
	}
	70%{
		transform:translatex(7px);
	}
	80%{
		transform:translatex(-4px);
	}
	90%{
		transform:translatex(4px);
	}
	100%{
		transform:translatex(0px);
	}
}
@keyframes fadeInRight{
	0%{
		opacity:0;
		transform:translatex(-40px);
	}
	
	100%{
		opacity:1;
		transform:translatex(0px);
	}
}
.quiz_wrapper .score{
	float:left;
	width:100%;
	padding:25px 0px;
	
}
.quiz_wrapper .score .next{
	width:40%;
	float:left;
}
.quiz_wrapper .score .next button{
	padding:15px 80px ;
	color:#000000;
	background-color:#15dafb;
	border:none;
	border-radius:8px;
	font-size:15px;
	cursor:pointer;
	box-shadow:0px 3px 0px #3ea698;
	outline:none;
}
.quiz_wrapper .score .next button:active{
	box-shadow:0px 3px 0px transparent;
}
.quiz_wrapper .score .score-card{
	width:30%;
	float:left;
}
.quiz_wrapper .score .score-card{
		font-size:20px;
		color:white;
		background-color:black;
		border-radius:8px;
		text-align:center;
		line-height:50px;
		text-transform:uppercase;
}
.quiz_wrapper .score .score-card span{
	background-color:orange;
	padding:5px 20px;
	border-radius:8px;
	color:#000000;
	
}





